
/*==============================
General Site-wide Styling
================================*/
body {
  background-color: white;
  /*background-color: pink;*/
  /*padding-top: .5em;*/
  /*padding-left: 2em;*/
  margin: auto;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*width: 50em;*/
}

.container {
  margin-left: 4em;
}

header, footer {
  background-color: black;
  color: white;
  width: 100%;
}

header {
  height: 4em;
}

footer {
  height: 1.4em;
  position: absolute;
  bottom: 0;
  padding-left: 4em;
  padding-top: .5em;
  padding-bottom: .3em;
}

span.footerLink a{
  font-weight: bold;
  font-size: 80%;
  color: rgba(255, 255, 255, .8);
  padding-right: 1em;
}


p {
 margin-bottom: 0;
}

.header {
  color: white;
  /*display: block;*/
  font-size: 240%;
  font-family: 'Kurale', serif;
  margin-top: 0px;
  padding-left: 2em;

  /*margin-bottom: 0px;*/
  margin-right: .75em;
}

a {
  /*color: rgba(0,0,0,1);*/
}

a:hover {
  /*color: rgba(0,0,0,.5);*/
}
/*==============================
aside information panel
================================*/
aside {
  position: absolute;
  left: 30em;
  top: 3.3em;
  width: 25em;
}

.intro-messageOG {
  /*background-color: rgba(0,0,0,1);*/
  color: black;
  font-weight: bold;
  padding-bottom: 1em;
  /*height: 110px;*/
  /*width: 20em;*/
  /*border-top: 2em solid black;*/
  border-bottom: 2em solid black;
}

.intro-message {
  /*background-color: rgba(0,0,0,1);*/
  color: black;
  color: white;
  font-weight: bold;
  display: inline;
  /*font-style: italic;*/
  /*padding-bottom: 1em;*/
  /*height: 110px;*/
  /*width: 20em;*/
  /*border-top: 2em solid black;*/
  /*border-bottom: 2em solid black;*/
}

.item-title {
  font-weight: bold;
}

.item-information {
}

a.learn-more-link {
  color: black;
}
/*==============================
dropdown menu(input) & submit button
================================*/
input, select {
  background: transparent;
  background-color: rgba(0,0,0,1);
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
  margin: 10px 15px 20px 0px;
}

select {
  border: 9px solid black;
}

#tag {
  width: 15em;
  /*padding-right: 30px;*/
}

input {
  padding: 10px 22px;
}

input:hover {
  background-color: rgba(0,0,0,.8);
}

/*==============================
Placeholder image & text
================================*/
div#placeholder-square {
  height: 22em;
  width: 22em;
  /*the black & white stripes*/
  background: repeating-linear-gradient(
    45deg,
    rgba(0,0,0,1),
    rgba(0,0,0,1) 1.5em,
    white 1.5em,
    white 3em
  );
  vertical-align: bottom;
}

/* not using but keep just in case */
h2.placeholderText {
  margin: 0;
  color: rgba(0,0,0,.7);
  font-size: 450%;
}


/*==============================
Image
================================*/
.image-URL {
  cursor: pointer;
  /*max-height: 380px;*/
  max-height: 22em;
  /*max-height: 70%;*/
  /*max-width: 700px;*/
  max-width: 22em;
  /*height: auto;*/
  transition: 0.3s;
}

.image-URL:hover {
  opacity: .9;
}

/* The Modal (background) */
.modal-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  /*left: 0;*/
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255); /* Fallback color: white;
  /*background-color: rgba(255,255,255,0.9); /* White w/ opacity */

/* Add Animation - Zoom in the Modal */
  animation-name: zoombig;
  animation-duration: 0.3s;
}

@keyframes zoombig {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.image-URL-large {
  margin: auto;
  display: block;

  /*not working*/
  animation-name: zoomsmall;
  animation-duration: 0.3s;
}

/*not working*/
@keyframes zoomsmall {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/*The spinner. This is an nmp package.*/
.sweet-loading {
  /*margin-top: 20px;*/
  display: inline-block;
  position: relative;
  top: 10px;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



