/*possible h1 fonts

  font-family: 'Medula One', cursive;
  font-family: 'Seaweed Script', cursive;
  font-family: 'Gabriela', serif;
  font-family: 'Shrikhand', cursive;*/



/*==============================
General Styling
================================*/
body {
  background-color: white;
  margin: 0;
  padding: 1em;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  /*display: inline;*/
  font-size: 220%;
  font-family: 'Kurale', serif;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 1%;
}

a {
  color: rgba(0,0,0,1);
}

a:hover {
  color: rgba(0,0,0,.5);
}

.button-tray{
  display: inline;
}

.button {
  background-color: rgba(0,0,0,1);
  /*background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);*/
  /*background-color: #1c98e5;*/
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  /*text-decoration: none;*/
  font-weight: bold;
  display: inline-block;
  font-size: 100%;
  margin: 10px 15px 20px 0px;
  cursor: pointer;
  /*not working*/
    transition: linear-gradient 400ms ease-in;
}

.button:hover {
  background-color: rgba(0,0,0,.8);
  /*not working*/
  transition: linear-gradient 400ms ease-out;
}

#placeholder-square {
  background-color: rgba(0,0,0,1);
  height: 380px;
  width: 380px;
}

/*==============================
Image
================================*/
.cooper-image-URL {
  cursor: pointer;
  max-height: 380px;
  max-width: 700px;
  transition: 0.3s;
}

.cooper-image-URL:hover {
  opacity: .9;
}

/* The Modal (background) */
.modal-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255); /* Fallback color: white; */
  background-color: rgba(255,255,255,0.5); /* White w/ opacity */

/* Add Animation - Zoom in the Modal */
  animation-name: zoom;
  animation-duration: 0.3s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.cooper-image-URL-large {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  max-height: 500px;
}

.cooper-learn-more-link {
  text-decoration: none;
  font-family: 'Kurale', serif;
  font-style: italic;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



