
/*==============================
General Styling
================================*/
body {
  background-color: white;
  background-color: #8c92a6;
  margin: auto;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-between;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.image-container-stack-vertical {
  display: flex; /* or inline-flex */
  flex-direction: column;
  margin-right: 4%;
}

.info-container-stack-horizontal {
  display: flex; /* or inline-flex */
  flex: 2 0px;  /*tell this element to take up twice as much space */
  flex-direction: row;
  max-width: 400pt;
  padding-top: 1em;
}

header, footer {
  background-color: black;
  color: white;
  width: 100%;
}

p {
 margin-bottom: 0;
}

/*==============================
Header
================================*/
header {
  /*height: 1.8em;*/
  font-family: 'Kurale', serif;
  margin-top: 0px;
  margin-right: .75em;
  margin-bottom: 5pt;
  padding-bottom: 2pt;
  padding-left: 9%;
}

 a.header-link {
  font-size: 80%;
  color: white;
  font-weight: bold;
  position: relative;
  text-decoration: none; /* removes default underline */
}

/* The underline animation */
a.header-link:after{
  content: '';
  position: absolute;
  width: 0; height: 2pt;
  display: block;
  margin-top: 1pt;
  right: 0;
   background: white;
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}

a.header-link:hover:after{
  width: 100%;
  left: 0;
  background: white;
}


/* Not using but keep- might need if you change your mind */
.intro-message-header {
  color: black;
  color: white;
  font-weight: bold;
  display: inline;
  line-height: 80%;
}

/*==============================
dropdown menu(select) & submit(input)
================================*/
form {
  /*max-width: 27em;*/
  /*margin-top: 1em;*/
}

select, input {
  background-color: rgba(0,0,0,1);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  /* safari iOS looks bad */
  -webkit-appearance: none;
}

/*dropdown menu*/
select {
  border: 9px solid black;
  margin-right: .8em;
}

.dropdown-item-style {
  background-color: rgba(0,0,0,1);
  color: white;
}

/* submit button */
input {
  padding: 9px 17px;
  margin-top: 1em;
}

input:hover {
  background-color: rgba(0,0,0,.8);
}

#tag {
  width: 14.5em;
}

/* The loading spinner. This is an nmp package.*/
.sweet-loading {
  display: inline-block;
  position: relative;
  top: 1em;
  padding: 0 1em 0 1em;
  /*left: -50%;*/
}

/*==============================
Placeholder image
================================*/
img#placeholder-image {
  height: auto;
  max-width: 350pt;
  margin-top: 2.5em;
  cursor: pointer;
}

/* not using but keep just in case you do in the future */
h2.placeholderText {
  margin: 0;
  color: rgba(0,0,0,.7);
  font-size: 450%;
}

/*==============================
 Museum Image result
================================*/
.image-URL {
  cursor: pointer;
  max-height: 65vh;
  max-width: auto;
  margin-top: 10pt;
  margin-right: 20pt;
}

.image-URL:hover {
  opacity: .9;
}

/*==============================
 Modal
================================*/
.modal-background {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255, 1);

/* Add Animation - Zoom in the Modal */
  animation-name: zoombig;
  animation-duration: 0.3s;
}

@keyframes zoombig {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.image-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*==============================
Aside information panel
================================*/
.intro-message {
  color: black;
  font-size: 90%;
  font-weight: bold;
  padding-bottom: .75em;
  border-bottom: 1.5em solid black;
  white-space: nowrap;   /*must be one line. No text wrap */
}

h2.item-title {
  margin-top: -5pt;
  font-weight: bold;
  font-size: 110%;
}

.item-information, .item-medium {
  margin-bottom: 1em;
}

a.learn-more-link {
  color: black;
  font-weight: bold;
  position: relative;
  text-decoration: none; /*This removes the default underline*/
  white-space: nowrap;   /*must be one line. No text wrap */
}

/* The underline animation */
a.learn-more-link:after {
  content: '';
  position: absolute;
  width: 0; height: 10px;
  display: block;
  margin-top: 4px;
  right: 0;
   background: black;
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}

a.learn-more-link:hover:after {
  width: 100%;
  left: 0;
  background: black;
}
/*==============================
 Footer
================================*/
footer {
  color: rgba(255, 255, 255, .7);
  position: fixed;
  bottom: 0;
  padding-left: 1%;
  padding-top: .5em;
  padding-bottom: .3em;
  font-weight: bold;
  font-size: 95%;
}

span.footerLink a{
  color: rgba(255, 255, 255, .7);
  padding-right: .5rem;
}

span.footerLink a:hover{
  color: rgba(255, 255, 255, .5);
}

.fa-github {
  font-size: 1.2rem;
}


/********************************
 Media Queries
*********************************/

/* MODAL 100% Image Width on Smaller Screens */
@media only screen and (max-width: 736px){
    .modal-content {
        width: 100%;
    }
}


/* Phones */
@media all and (max-width: 500px) {

  .image-container-stack-vertical {
    flex: 1 auto;
    order: 1;
    margin-right: 0;
  }

  .info-container-stack-horizontal {
    flex: 1 auto;
    order: 2;
  }

  img#placeholder-image {
    /*height: auto;*/
    width: 100%;
    margin-top: 1em;
  /*vertical-align: bottom;*/
  }

  .image-URL {
    max-height: auto;
    max-width: 100%;
    margin-top: 10pt;
    /*margin-right: 20pt;*/
  }

  header {
    margin-bottom: 4%;
    text-align: center;
    padding-left: 0;
    margin-right: 0;
  }

  /* dropdown menu */
  #tag {
    font-size: 130%;
    margin: auto;
    width: 100%;
  }

  /* submit button */
  input {
    font-size: 130%;
    padding: 9px 30px;
    margin-top: .5em;
  }


  .info-container-stack-horizontal {
    width: 100%;
  }

  p.intro-message {
    border-bottom: 0;
    font-size: 100%;
    white-space: normal;
  }

  h2.item-title {
    font-size: 120%;
  }

  .item-information, .item-medium, .learn-more-link {
    font-size: 120%;
  }

}

/* Little Phones */
/* TODO */
@media all and (max-width: 480px) {

}


